body {
    margin: 0;
    padding: 0;
    background-color: #3F1435; 
    font-family: 'Cinzel', serif;
    color: #F4E29F;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    border-bottom: 3px solid #B58A3B;
}

.logo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.title {
    flex: 1;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    color: #F4E29F;
}

.menu {
    font-size: 25px;
    font-weight: bold;
}

.menu a {
    margin-left: 25px;
    color: #F4E29F;
    text-decoration: none;
}

.menu a:hover {
    color: #ffffff;
}

.section-title {
    font-size: 55px;
    margin-top: 40px;
    text-align: center;
    color: #F4E29F;
    text-shadow: 0 0 4px black;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;
}

.img {
    width: 48%;
    height: 420px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    box-shadow: 0 0 20px black;
}

.texto {
    width: 48%;
    font-size: 26px;
    line-height: 1.5;
    text-align: justify;
}
